*
{
    padding:0;
    margin: 0;
    border-box:0;
}
html,
body{
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    color: white;
    background-color: black;
}
body{
    font-size: 1.6rem;
}
.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 6rem;
}
.search
{
    display: flex;
    gap: 0.4rem;
}
input
{
    width: 50rem;
    padding: 1rem;
    border:none;
    border-radius: 1rem;
    font-size: 1.6rem;
}
input:hover{
    box-shadow: 1px 2px 3px #d4ecff;
    transform: translateX(-2px);
}
.Primary_btn
{
    width: 10rem;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.6rem;
    background-color: #f9c74f;
    border: none;
}
.Primary_btn:hover
{
    cursor : pointer;
    background-color: #f8cb6b;
    box-shadow: 2px 3px 4px #f8cb6b;
    transform: translateX(-2px);
}

/* profile section */
.profile{
    height: 22rem;
    width: 90%;
    max-width: 78rem;
    padding: 1rem 1rem;
    box-shadow: 0 0 1rem #ccc;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.3s ease;
}
.profile:hover
{
    box-shadow: 4px 6px 8px #d4ecff;
    transform: translateY(-2px);
}
.top_section
{
    display: flex;
    justify-content: space-between;
}
.top_section button
{
    align-self: center;
    width: 12rem;
    
}

.avatar
{
    height: 9rem;
    width: 10rem;
}
.avatar img
{
    height: 100%;
    width: 9rem;
    border-radius: 50%;
}
.left
{
    display: flex;
}
.self{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
.self h1
{
    font-size: 1.5rem;
}
p1{
    font-size: 1.3rem;
}
.about
{
    margin: 1.5rem;
}
.status
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin: 2rem;
    
}
.status-item
{
    display: flex;
    flex-direction: column;
    text-align: center;
}
